body{
    /*background: linear-gradient(to top, #24b7cd, #21bdd4, #1dc3dc, #18c9e3, #12cfeb);*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#contenedor{
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
    background-color: rgb(164, 212, 164);
    /*display: block;*/
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh*/
}
/*
.navbar-collapse {
    flex-grow: 0;
}*/
.navbar-nav a:hover{
    color: #cf5c0a;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.404);

}
article{
    /*background-color: rgb(164, 212, 164);*/
    width: 50%;
    height: auto;
    float: left;
    display: block;
    
}
/* FORMULARIO*/
#titular_form{
    box-sizing: border-box;
    width: 100%;
    background-color: #81B214;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px 10px 0px 0px ;
    font-size: 24px;
}
form input{
    border-radius: 3px;
    border: none;
    width: 80%;
    margin: 5px;
}
.formulario1{
    display: flex;
    align-items: center;
    width: 50%;
    /*height: 600px;*/
    float: right;
    display: block;
}

#form-registro{
    /*display: flex;
    justify-content: center;*/    
    align-items: center;
    /*width: 30%;*/
    background-color: #EFF7E1;
    /*padding: 10px;*/
    text-align: center;
    border: white;
    border-radius: 10px;
}

#form-login{
    margin: 0 auto;
    align-items: center;
    width: 30%;
    background-color: #EFF7E1;
    text-align: center;
    border: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}


.form_opc{
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 14px;
}
.link_login, .link_login a{
    text-decoration: none;
    color: #F58634;   
}
.link_login a:hover, .link_login a:visited {
    color: #cf5c0a;
}
#btn-registrar{
    width: 93%;
    background-color: #FFCC29;
    /*background-image: linear-gradient(to top, #24b7cd, #21bdd4, #1dc3dc, #18c9e3, #12cfeb);*/
    border: none;
    padding: 10px;
    margin-top: 10px;
}

#btn-submit-form{
    
    width: 93%;
    background-color: #F58634;
    /*background-image: linear-gradient(to top, #24b7cd, #21bdd4, #1dc3dc, #18c9e3, #12cfeb);*/
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*footer{

    margin-top: 10px;
    width: 30%;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0 auto;
    background-color: #216b5e;
    padding: 10px;
    border-radius: 30px;
    display: block;
    clear: both;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: #FFCC29;
}
*/
footer{
    clear: both;
    background-color: #81B214;
}
footer a{
    text-decoration: none;
    color: #81B214;
}

@media (max-width: 1015px) {
    .lat_izq{
        display: none;
    }
    .formulario1{
        width: 100%;
        /*height: 600px;*/
        float: left;
        display: block;
    }
    #form-login{
        width: 80%;        
    }
}